.menu {
    &_wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
    }
    &_background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 33, 53, 0.4);
        animation: background .15s ease-in-out 1;

        &__hidden {
            animation: background-hidden .15s ease-in-out 1;
        }

        @keyframes background {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes background-hidden {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }

    background-color: #ffffff;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 400px;
    height: calc(100vh - 60px);
    max-height: 1000px;
    padding: 20px 30px;
    border-radius: 32px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    animation: menu .15s ease-in 1;
    transform-origin: center left;

    @media (max-width: 460px) {
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        height: calc(100% - 40px);
    }

    &__hidden {
        animation: menu-hidden .15s ease-in 1;
    }

    @keyframes menu {
        0% {
            opacity: 0;
            transform: translateY(500px) scale(0.8);
        }

        100% {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
    }
    @keyframes menu-hidden {
        0% {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
        100% {
            opacity: 0;
            transform: translateY(500px) scale(0.8);
        }
    }

    &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    &_title {
        font-size: 42px;
        font-weight: 400;
    }

    &_close {
        width: 33px;
        height: 33px;
        background-image: url(../../assets/ui/close.svg);
        background-color: #00000000;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity .3s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

    &_items-list {
        list-style: none;

        &-item {
            display: flex;
            align-items: center;
            padding: 10px;
            width: calc(100% + 60px);
            background: linear-gradient(90deg,#03a9f4,#00bcd4);
            color: #ffffff;
            font-size: 22px;
            border-radius: 10px;
            box-shadow: -5px 5px 10px rgba(0, 0, 0, .15);
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: translateX(30px);
            }

            i {
                color: #ffffff;
                margin-right: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            @media (max-width: 1024px) {
                width: calc(100% + 20px);
                margin-left: -10px;
            }
        }
    }
}