.application {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(#000000, .05);

    animation: application-show 1s ease-in-out;

    @keyframes application-show {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &_code {
        font-size: 28px;
        font-weight: bold;
        user-select: text;
        padding: 20px;
        margin: -20px -20px 20px -20px;
        border-bottom: 1px solid #eaeaea;

        &::before {
            content: '#';
        }
        
        @media (max-width: 500px) {
            font-size: 22px;
        }
    }

    &_info{
        margin-bottom: 20px;
        height: 100%;
        overflow: hidden;

        &Table {
            tr {
                td:first-child{
                    font-weight: bold;
                    width: 150px;
                    height: 25px;
                }
            }

            @media (max-width: 500px) {
                font-size: 12px;
                tr {
                    td:first-child{
                        font-weight: bold;
                        width: 120px;
                        height: 20px;
                    }
                }
            }
        }
    }

    &_messages {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        // overflow: hidden;
    }
    &_message {
        display: inline-block;
        max-width: 80%;
        min-width: 40%;
        padding: 20px;
        background: linear-gradient(90deg, #03a9f4, #00bcd5);
        border-radius: 32px 32px 32px 10px;
        animation: message-create .5s ease-in-out;

        @keyframes message-create {
            0% {
                opacity: 0;
                transform: translateX(-50px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        &__auth {
            border-radius: 32px 32px 10px 32px;
            float: right;
            background: linear-gradient(90deg, #ff9f01, #ff5822);
            animation: message-create__auth .5s ease-in-out;
            
            @keyframes message-create__auth {
                0% {
                    opacity: 0;
                    transform: translateX(50px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }

        &Wrapper {
            margin-bottom: 10px;
        }

        &Sender {
            border-top: 1px solid #eaeaea;
            margin: 0px -20px -20px -20px;
            padding: 10px 20px 20px 20px;
            display: flex;
            align-items: center;
        }
        &Input {
            border: 2px solid #eaeaea;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 16px;
            width: 100%;
            margin-right: 10px;
            transition: border-color .3s ease-in-out;

            &:focus, &:not([value=""]) {
                border-color: #03a9f4;
            }
        }
        &SendButton {
            background: none;
            border: none;
            color: #03a9f4;
            cursor: pointer;
            font-size: 38px;
        }

        @media (max-width: 500px) {
            &Input {
                font-size: 12px;
                border-width: 1px;
            }
            &SendButton {
                font-size: 32px;
            }
        }
    
        &Owner {
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 5px;
            font-weight: bold;
            
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
    
        &Text {
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 10px;
            user-select: text;
            
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
        
        &Date {
            text-align: right;
            color: #ffffff;
            opacity: .7;
            
            @media (max-width: 500px) {
                font-size: 11px;
            }
        }
    }

    &_events {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &_event {
        background: none;
        font-size: 16px;
        margin: 0px 10px 10px 0px;
        border: 2px solid #03a9f4;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        transition: .3s ease-in-out;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            background: #03a9f4;
            font-weight: bold;
            color: #ffffff;
        }

        @media (max-width: 500px) {
            border-width: 1px;
            font-size: 12px;
        }
    }
}