.addApplication{
    overflow: hidden;
    height: 100%;

    &_slider {
        width: 400%;
        height: 100%;
        display: flex;
        justify-content: stretch;
        transition: transform .5s ease-in-out;
    }
    &_slide {
        width: 25%;
        position: relative;
        overflow: hidden;
        max-height: 100vh;
        transition: 1s ease-in-out;

        @media (max-width: 500px) {
            min-height: 100%;
            overflow-y: auto;
        }
    }

    &_input {
        width: 100%;
    }

    &_phoneType {
        margin-bottom: 20px;
    }

    &_textarea {
        height: 150px;
        resize: none;
        margin-bottom: 20px;
    }

    &_table {
        margin-bottom: 30px;

        td:first-child {
            font-weight: bold;
        }
    }

    &_key {
        margin: 10px 0px;
        padding: 10px;
        border-radius: 10px;
        font-size: 36px;
        user-select: text;
        cursor: text;
        background-color: #efefef;
    }

    &_subscribe {
        &Block {
            display: flex;
            margin-bottom: 20px;
            cursor: pointer;
        }
        &Checkbox {
            margin-right: 10px;
        }
    }
}

.phoneType {
    padding: 0px 10px;

    &_placeholder {
        font-size: 16px;
        margin-bottom: 5px;
    }

    &_switcher {
        display: flex;

        & > *:not(:last-child) {
            margin-right: 10px;
        }
    }
}