.breadcrumbs {
    display: flex;

    &_back {
        display: none;
    }

    &_link{
        display: flex;
        align-items: center;
        font-size: 18px;

        i {
            margin-left: 20px;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:last-child {
            pointer-events: none;
            a {
                color: #484848;
            }
            i {
                display: none;
            }
        }
    }

    @media (max-width: 700px) {
        &_back {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: none;
            border: none;
            font-size: 28px;
            margin: -10px 0px;
    
            &::after {
                content: 'Назад';
                font-size: 11px;
            }
        }

        &_link {
            &:last-child {
                margin: 0px auto;
            }
            &:not(:last-child) {
                display: none;
            }
        }
    }
}